html {
  display: flex;
  justify-content: center;
}

.pages {
  display: flex;
  justify-content: center;
}

body {
  background-color: darkgrey;
}

header {
  background-color: white;
  opacity: 0.2;
  width: 97vw;
  height: 4.5vw;
  margin-top: 0.5vw;
  display: flex;
  align-self: center;
  border-radius: 1vw;
  box-shadow: 15px 10px 20px lightgrey;
  padding: 0.5vw;
  padding-bottom: 1vw;
  transition: 1s;
}

.home_left {
}

aside {
  background-color: white;
  opacity: 0.2;
  width: 15vw;
  height: 75vh;
  margin-top: 1vw;
  display: flex;
  border-radius: 1vw;
  box-shadow: 15px 10px 20px lightgrey;
  padding: 1vw;
  transition: 1s;
}

header:hover {
  opacity: 0.9;
}

aside:hover {
  opacity: 0.9;
}

.map-Boxes {
  display: flex;
  flex-direction: row;
}

.map-Box {
  background-color: white;
  opacity: 0.2;
  width: 29.7vw;
  height: 70vh;
  margin-top: 0.5vw;
  display: flex;
  align-self: center;
  border-radius: 1vw;
  box-shadow: 15px 10px 20px lightgrey;
  margin: 1vw;
  padding-bottom: 1vw;
  display: flex;
  justify-content: center;
  padding: 0.5vw;
  transition: 1s;
  text-decoration: none;
}

.box-Title {
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  color: darkgrey;
}

.map-Box:hover {
  opacity: 0.9;
}


#map {
  height: 100vh;
  width: 100vw;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.population_Popup {
  height: 3vh;
  width: 3vh;
}
