#bottom-Aside {
  font-style: normal;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  box-sizing: content-box;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  overflow: scroll;
  height: 25vw
}
